html {
  /* This defines what 1rem is */
  font-size: 62.5% !important; /* 1 rem = 10px; 10px/16px = 62.5% */
  font-family: 'Mulish', sans-serif !important;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25% !important; /*1 rem = 9px, 9/16 = 50% */
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50% !important; /* 1 rem = 8px, 8/16 = 50% */
  }
}

h1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 60px;
}
